<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="../../assets/img/icons/foundation-favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width">
    <title>Oferta ti-a fost acceptata</title>
</head>

<body style="background:#f3f3f3!important">
    <style class="float-center" type="text/css"></style>
    <span class="preheader"></span>
    <script>(function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-2195009-2', 'auto');
        ga('send', 'pageview');

        ga('create', 'UA-2195009-27', 'auto', { name: "foundation" });
        ga('foundation.send', 'pageview');

        ga('create', 'UA-2195009-47', 'auto', { name: "foundation_emails" });
        ga('foundation_emails.send', 'pageview');</script>
    <table class="body" style="background:#f3f3f3!important">
        <tbody>
            <tr>
                <td align="center" class="center" valign="top">
                    <center data-parsed="">
                        <table class="spacer float-center">
                            <tbody>
                                <tr>
                                    <td height="16px" style="font-size:16px;line-height:16px"></td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="center" class="container float-center">
                            <tbody>
                                <tr>
                                    <td>
                                        <table class="row header" style="background:#f3f3f3">
                                            <tbody>
                                                <tr>
                                                    <th class="small-12 large-12 columns first last">
                                                        <table>
                                                            <tbody>
                                                                <tr>
                                                                    <th>
                                                                        <table class="spacer">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td height="16px" style="font-size:16px;line-height:16px"></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </th>
                                                                    <th class="expander"></th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="row">
                                            <tbody>
                                                <tr>
                                                    <th class="small-12 large-12 columns first last">
                                                        <table>
                                                            <tbody>
                                                                <tr>
                                                                    <th>
                                                                        <center data-parsed="" style="color:green;font-size:150px">☺</center>
                                                                        <h1 class="text-center">Oferta ti-a fost acceptata!</h1>
                                                                        <table class="spacer">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td height="16px" style="font-size:16px;line-height:16px"></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <p class="text-center" style="font-weight:bolder;">Titlu cerere:</p>
                                                                        <p class="text-center" style="font-weight:lighter;padding-bottom: 10px;"> {{adTitle}}</p>
                                                                        <p class="text-center" style="font-weight:bolder;">Utilizator:</p>
                                                                        <p class="text-center" style="font-weight:lighter;padding-bottom: 10px;"> {{userName}}</p>
                                                                        <p class="text-center" style="font-weight:bolder;">Telefon:</p>
                                                                        <p class="text-center" style="font-weight:lighter;padding-bottom: 10px;"> {{userPhone}}</p>
                                                                        <table class="spacer">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td height="16px" style="font-size:16px;line-height:16px"></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <table style="width:100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table style="width:100%">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <center data-parsed="">
                                                                                                            <a href="http://localhost:3000/anunturi/{{categoryName}}/{{adId}}" style="text-align: center !important;display:block;text-decoration:none;line-height:46px;text-align:center;background-color:#ff7200;color:#ffffff;height:46px;width:100%;font-family:'Trebuchet MS',sans-serif;font-size:18px;border-radius:4px;font-weight:700;"
                                                                                                                class="text-center"
                                                                                                                target="_blank">Vezi cererea
                                                                                                                »
                                                                                                            </a>
                                                                                                        </center>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                    <td class="expander"></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <table class="spacer">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td height="16px" style="font-size:16px;line-height:16px"></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <hr>
                                                                        <p>
                                                                            <small>Primesti acest email deoarece ai activat trimiterea
                                                                                de notificari. Pentru dezactivare
                                                                                <a href="#">click aici</a>.</small>
                                                                        </p>
                                                                    </th>
                                                                    <th class="expander"></th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="spacer">
                                            <tbody>
                                                <tr>
                                                    <td height="16px" style="font-size:16px;line-height:16px"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </center>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>